// Sorted alphanumerically.

.contact-envelope {
	padding-left: 18px;
}

.continuous {
	margin-top: 0px;
	margin-bottom: 0px;
}

.credits-icon {
	background-color: #000000;
	color: #FFFFFF;
}

.credits-icon a:link {
	color: #EDA59D;
}

.credits-icon a:visited {
	color: #AD7D78;
}

.credits-icon a:hover {
	color: #FAC6C0;
}

.credits-icon a:active {
	color: #FFFFFF;
}

.darker {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 8px;
}

.default-text-shadow {
	text-shadow: 1px 1px 0.1em #505050;
}

.fyp {
	text-decoration: underline;
}

.jumbotron-transparent {
	@extend .default-text-shadow;
	background: rgba(0, 0, 0, 0.6);
	color: #FFFFFF;	
}

.jumbotron-transparent > h1 {
	font-size: 72px;
}

.jumbotron-transparent a:link {
	color: #EDA59D;
}

.jumbotron-transparent a:visited {
	color: #AD7D78;
}

.jumbotron-transparent a:hover {
	color: #FAC6C0;
}

.jumbotron-transparent a:active {
	color: #FFFFFF;
}

.jumbotron-white {
	background-color: #FFFCF5;
}

.my-list {
	font-size: 1.2em;
}

.nav-icon {
	font-size: 12px;
	margin-left: 3px;
}

// To be added at a later date
// .navbar {
// 	background: rgba(255, 163, 186, 0.8);
// }

.screen-wide {
	padding-left: 0px;
	padding-right: 0px;
}

// For screens larger than .col-sm
@media screen and (min-width: 1024px) {
	#yt-gunz-hands {
		padding-left: 12em;
	}
}
